body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.first-col {
  background-color: pink;
}

.second-col {
  background-color: pink;
}

.third-col {
  background-color: pink;
}

.dropdown-menu {
  background-color: white;
}




.img-size {
  max-height: 700px;
}


.starter-template{
  background-color: black;
  max-height: 200px;
}

h1 {
  color: white;
}
.lead{
  color: white;
}

.navbar-collapse {
  background-color: black;

}


.nav-item {
  color:white;
}
