body {
  padding-top: 5rem;
}



.dropdown-menu {
  background-color: white;
}

.starter-template{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  max-height: 300px;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .lead{
    color: white;
    font-size: 12pt;
    text-align: center;
  }


  h1 {
    color: white;
    font-size: 40pt;
  text-align: center;

  }
}


.logo {
  width: 40%;
}

.img-size {
  max-height: 600px;
}


h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.lead{
  color: white;
  font-size: 12pt;
  text-align: center;
}

.navbar-collapse {
  background-color: black;

}

/* .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.carousel-caption {
  height: 100%;
}

.bl-background {
  background: black;
  text-decoration-color: white;
}

a {
  color: pink;
}

a:hover {
  color: pink;
  font-size: 14pt;
}

.btn {
  color:pink;
}
.btn-outline-success {
  color: pink;
}

.container {
  text-align: center;
}

.image-text {
  color: black;
}
