body {

  padding-top: 5rem;
}

.title {
  font-family: 'Playfair Display', serif;
}

.dropdown-menu {
  background-color: white;
}

.starter-template{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  max-height: 300px;
  max-width: 100%;
}

.makeupbox {}

@media screen and (max-width: 500px) {
  .lead{
    color: white;
    font-size: 12pt;
    text-align: center;
  }




  h1 {
    color: white;
    font-size: 40pt;
  text-align: center;

  }
}


.logo {
  width: 35%;
}

.img-size {
  max-height: 600px;
}


h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.lead{
  color: white;
  font-size: 12pt;
  text-align: center;
}

.navbar-collapse {
  background-color: black;

}

/* .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.carousel-caption {
  height: 100%;
}

.carousel-item img {
  max-height: 457px;
}

* img { object-fit: cover; }

.bl-background {
  background: black;
  text-decoration-color: white;
}

a {
  color: pink;
}

a:hover {
  color: pink;
  font-size: 14pt;
}

.btn {
  color:pink;
}
.btn-outline-success {
  color: pink;
}

.container {
  text-align: center;
}

.image-text {
  color: white;
  font-size: 14pt;
  font-family: 'Playfair Display', serif;
}

.makeupbox {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    }

.image:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.image:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.image:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

    .image{
      width:33.33%;
    }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
